/* Footer Styles */
.footer {
  background: #1A1A40;
  color: white;
  padding: 60px 0;
  position: relative;
  overflow: hidden;
}

.footer-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.footer-background::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(252.71deg, #140F51 -19.47%, rgba(20, 15, 81, 0.7) 30.79%, #140F51 49.34%, #140F51 81.06%);
  z-index: 2;
}

.footer-bg-image {
  width: 88%;
  height: auto;
  object-fit: cover;
  position: relative;
  left: 45%;
  top: -45%;
}


.footer-left-image {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  opacity: 0.3;
}

.footer-side-image {
  width: 292px;
  height: auto;
  object-fit: contain;
  position: relative;
  left: 54px;
  rotate: -25deg;
  opacity: 0.4;
  top: 30px;
}

.footer-content {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  gap: 60px;
  padding: 20px 5%;
  position: relative;
  z-index: 3;
}

.footer-section {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: flex;
  align-items: flex-start;
}

.footer-logo-image {
  height: 100px;
  width: auto;
  object-fit: contain;
}

.footer-section h4 {
  margin-bottom: 20px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  transition: opacity 0.3s;
}

.footer-section ul li a:hover {
  opacity: 0.7;
}

.footer-section p {
  color: white;
  font-size: 0.9rem;
  margin-bottom: 8px;
}

.footer-section p a {
  color: white;
  text-decoration: underline;
  transition: opacity 0.3s;
}

.footer-section p a:hover {
  opacity: 0.7;
}

@media (max-width: 1024px) {
  .footer-content {
    gap: 30px;
    grid-template-columns: 2fr 1fr 1fr;
  }
  .footer {
    padding: 15px 0;
}
.footer-logo-image {
  height: 80px;
}
}

@media (max-width: 768px) {
.footer-logo-image {
  height: 70px;
}
.footer-side-image {
  width: 200px;
}
}
@media (max-width: 426px) {
  .footer-bg-image {
    width: 0;
  }
  .footer-content{
    grid-template-columns: 1fr;
  }
  .footer-side-image {
    width: 363px;
    left: 134px;
    top: -82px;
}
}
@media (max-width:384px) {
  .footer-side-image {
    width: 300px;
    left: 140px;
    top: -140px;
}
}